site/tmp/*
site/[Cc]onfig/core.php
site/[Cc]onfig/database.php
site/app/tmp/*
site/app/[Cc]onfig/core.php
site/app/[Cc]onfig/database.php
site/app/webroot/plugins/**
!empty

#Ignore ssl certs
**.crt
**.key

#Ignore .DS_Store
**.DS_Store

dploy.yaml